{% extends '_layouts/base.njk' %}

{% block page_title %} The Ship's Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-0 col-sm-1 col-md-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">
    <h1>Welcome to the Ship's Log</h1>
    <p>
      I am Crit McGillicutty, and I am the best and coolest pirate ever. I like ships, I like the water. But most of all, I love being a pirate because I get to meet other cool pirates (even though they're not as cool as I am). So thanks for visiting my log. Here I will tell you about my pirate adventures and the scary encounters I've had with the beasts of the sea. See below for a list of recent logs.
    </p>
      <ul> 
       {% for entry in entries %}
         <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
         <p class="entry-date">{{ entry.date }}</p>
       <hr>
       {% endfor %}
     </ul>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-2"></div>

</div>
</div>

{% endblock %}
