.jumbotron.banner {
    background: url(../assets/img/pirate-ship.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding-top: 12rem;
    font-family: 'Allerta Stencil', sans-serif;
  }
  
  .jumbotron {
    margin-bottom: 30px;
  }